<h1> welcome to placement portal </h1>
<a href="student_login"> students login</a> |
<a href="student_register"> students register</a> |
<a href="company_login"> Company login</a> |
<a href="company_register"> Company register</a> 